$primary-color: rgb(255, 255, 255);
$primary-bg: rgb(108, 115, 126);
$header-bg: black;
$gap: 2rem 2rem;
$num-cols: 4;
$row-height: 150px;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
}

// main section start
.container {
  display: grid;
  grid-template-areas: "sidebar main right";
  grid-template-columns: 1fr 2fr 1fr;

  & .main-content {
    grid-area: main;
    min-height: 100vh;

    & .header {
      border-bottom: 1px solid white;
      // background-color: $header-bg;
      color: $primary-color;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 900;
      font-size: 2.5rem;
      text-align: center;
      text-shadow: 2px 1px rgb(201, 110, 110);
      padding: 0.1rem;
    }

    .enter-info-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      max-width: 75%;

      & label {
        color: $primary-color;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 600;
        margin-top: 5rem;
        margin-left: 18rem;
        // margin-bottom: 0.5rem;
      }

      & input {
        margin-left: 18rem;
      }

      & input#name-input {
        height: 35px;
      }

      & input#date-input {
        height: 35px;
      }

      & textarea#description-input {
        margin-left: 18rem;
        height: 75px;
      }

      & textarea#agenda-input {
        margin-left: 18rem;
        height: 125px;
      }
    }

    & .file-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 5rem 0;

      & .file-btn {
        margin-bottom: 2rem;
      }

      & .submit-btn {
        width: 75px;
      }
    }
  }
}

.side-nav > * {
  grid-area: sidebar;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 6.3rem;
  margin-right: 4rem;

  & li {
    color: $primary-color;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 2.15rem;

    & a {
      color: $primary-color;
      text-decoration: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// main layout end

// event_creator page start

@media (max-width: 485px) {
  .bg-img {
    min-width: 485px;
  }
}
